---
import AboutCompany from "@/components/sections/AboutCompany.astro"
import NewsletterSection from "@/components/sections/NewsletterSection.astro"
import Servicies from "@/components/sections/Services.astro"
import Welcome from "@/components/sections/Welcome.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout navScrolled={false}>
	<main>
		<Welcome />
		<AboutCompany />
		<section
			class="from-background to-coral-light/10 flex items-center justify-center bg-gradient-to-b p-0 px-0"
		>
			<img class="h-10 w-100" src="/images/decoratives/ilustracion-negro_36.svg" alt="" />
		</section>
		<Servicies />
		<section
			class="to-background from-coral-light/10 flex items-center justify-center bg-gradient-to-b p-0 px-0"
		>
			<img class="h-10 w-100" src="/images/decoratives/ilustracion-negro_36.svg" alt="" />
		</section>
		<NewsletterSection />
	</main>
</Layout>
