---
import AboutCompany from "@/components/sections/AboutCompany.astro"
import NewsletterSection from "@/components/sections/NewsletterSection.astro"
import Servicies from "@/components/sections/Services.astro"
import Welcome from "@/components/sections/Welcome.astro"
import Layout from "@/layouts/Layout.astro"

const seoData = {
	title: "Matrona Valencia y Online | Salud Integral Femenina | Femm Tribu",
	description:
		"En Femm Tribu, nos dedicamos a brindar apoyo integral a la salud femenina a través de servicios personalizados y una comunidad solidaria.",
}
---

<Layout navScrolled={false} {...seoData}>
	<main id="main-content">
		<Welcome />
		<AboutCompany />
		<section
			class="from-background to-coral-light/10 flex items-center justify-center bg-gradient-to-b p-0 px-0"
			data-animate="animate-fade-up"
			data-animate-duration="1s"
		>
			<img class="h-10 w-100" src="/images/decoratives/ilustracion-negro_36.svg" alt="" loading="lazy" />
		</section>
		<Servicies />
		<section
			class="to-background from-coral-light/10 flex items-center justify-center bg-gradient-to-b p-0 px-0"
			data-animate="animate-fade-up"
			data-animate-duration="1s"
		>
			<img class="h-10 w-100" src="/images/decoratives/ilustracion-negro_36.svg" alt="" loading="lazy" />
		</section>
		<NewsletterSection />
	</main>
</Layout>
